In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/projeto-python/laboratoria_salud.csv

In [2]:
import numpy as np
import pandas as pd

In [3]:
dfsalud = pd.read_csv("../input/projeto-python/laboratoria_salud.csv", encoding='latin1')

In [4]:
dfsalud.head(5)

,fec_ocurrencia,edad,sexo,estado_civil,desc_producto_agrupado,ind_capital_provincia,desc_tipo_contrat,agrupbenef,cod_diagnostico,agrupdiagno,beneficio_pagado,gasto_presentado,periodo,anio_ingreso,fecha_ingreso,agrup_CIE10,flag_programa,num_afiliado
0,11/09/18,43.0,F,S,EPS,P,PAGO POR SERVICIO,AMBULATORIO,I10X,HIPERTENSION ARTERIAL (N346),175.94,245.90,2018,No determinado,No determinado,Hipertension,0,1
1,9/05/17,101.0,F,C,AMI,L,PACIENTE MES HTA SP,PROGRAMAS CRONICOS,I10X,HIPERTENSION ARTERIAL (N346),201.85,718.51,2017,2016,3/05/16,Hipertension,1,2
2,20/10/18,57.0,F,S,AMI,L,PAGO POR SERVICIO,AMBULATORIO,E119,DIABETES MELLITUS (N166),586.79,733.49,2018,2016,30/01/16,Diabetes,1,3
3,23/04/18,58.0,M,C,EPS,L,PACIENTE MES REGULAR,AMBULATORIO,E109,DIABETES MELLITUS (N166),45.43,1075.27,2018,No determinado,No determinado,Diabetes,0,4
4,8/05/17,75.0,F,C,AMI,L,PACIENTE MES HTA,PROGRAMAS CRONICOS,I10X,HIPERTENSION ARTERIAL (N346),121.00,349.83,2017,2016,3/02/16,Hipertension,1,5

In [5]:
dfsalud.tail(5)

,fec_ocurrencia,edad,sexo,estado_civil,desc_producto_agrupado,ind_capital_provincia,desc_tipo_contrat,agrupbenef,cod_diagnostico,agrupdiagno,beneficio_pagado,gasto_presentado,periodo,anio_ingreso,fecha_ingreso,agrup_CIE10,flag_programa,num_afiliado
591534,2/02/16,74.0,M,C,EPS,L,PACIENTE MES DIABETES SP,PROGRAMAS CRONICOS,E119,DIABETES MELLITUS (N166),290.85,167.50,2016,2016,4/01/16,Diabetes,1,4502
591535,27/12/18,57.0,M,S,EPS,L,PACIENTE MES HTA SP,PROGRAMAS CRONICOS,I10X,HIPERTENSION ARTERIAL (N346),201.85,1142.25,2018,2018,23/10/18,Hipertension,1,19404
591536,9/07/16,79.0,F,C,EPS,L,PACIENTE MES HTA SP,PROGRAMAS CRONICOS,I10X,HIPERTENSION ARTERIAL (N346),201.85,332.30,2016,2016,20/01/16,Hipertension,1,7789
591537,4/12/18,59.0,M,S,EPS,L,PACIENTE MES DIABETES SP,PROGRAMAS CRONICOS,E119,DIABETES MELLITUS (N166),291.09,35.00,2018,2016,3/03/16,Diabetes,1,6773
591538,12/11/18,60.0,M,C,EPS,L,PACIENTE MES HTA SP,PROGRAMAS CRONICOS,I10X,HIPERTENSION ARTERIAL (N346),201.85,195.30,2018,2016,15/01/16,Hipertension,1,7180

In [6]:
print(f"O dataset conta com {dfsalud.shape[0]} linhas e {dfsalud.shape[1]} colunas")

O dataset conta com 591539 linhas e 18 colunas

In [7]:
dfsalud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591539 entries, 0 to 591538
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   fec_ocurrencia          591539 non-null  object
 1   edad                    588031 non-null  float64
 2   sexo                    588031 non-null  object
 3   estado_civil            563567 non-null  object
 4   desc_producto_agrupado  591539 non-null  object
 5   ind_capital_provincia   591082 non-null  object
 6   desc_tipo_contrat       591539 non-null  object
 7   agrupbenef              591539 non-null  object
 8   cod_diagnostico         591539 non-null  object
 9   agrupdiagno             591539 non-null  object
 10  beneficio_pagado        591539 non-null  float64
 11  gasto_presentado        591539 non-null  float64
 12  periodo                 591539 non-null  int64
 13  anio_ingreso            591539 non-null  object
 14  fecha_ingreso           591539 non-null  object
 15  agrup_CIE10             591539 non-null  object
 16  flag_programa           591539 non-null  int64
 17  num_afiliado            591539 non-null  int64
dtypes: float64(3), int64(3), object(12)
memory usage: 81.2+ MB

In [8]:
round(dfsalud.describe())

,edad,beneficio_pagado,gasto_presentado,periodo,flag_programa,num_afiliado
count,588031.0,591539.0,591539.0,591539.0,591539.0,591539.0
mean,63.0,205.0,385.0,2017.0,1.0,14459.0
std,14.0,467.0,596.0,1.0,0.0,12394.0
min,0.0,-4017.0,0.0,2016.0,0.0,1.0
25%,54.0,116.0,154.0,2016.0,0.0,5115.0
50%,63.0,152.0,300.0,2017.0,1.0,11184.0
75%,72.0,218.0,494.0,2018.0,1.0,20370.0
max,107.0,125492.0,147637.0,2018.0,1.0,60503.0

In [9]:
round(dfsalud.describe(include="all"))

,fec_ocurrencia,edad,sexo,estado_civil,desc_producto_agrupado,ind_capital_provincia,desc_tipo_contrat,agrupbenef,cod_diagnostico,agrupdiagno,beneficio_pagado,gasto_presentado,periodo,anio_ingreso,fecha_ingreso,agrup_CIE10,flag_programa,num_afiliado
count,591539,588031.0,588031,563567,591539,591082,591539,591539,591539,591539,591539.0,591539.0,591539.0,591539,591539,591539,591539.0,591539.0
unique,1096,NaN,2,6,3,4,14,4,71,5,NaN,NaN,NaN,4,908,2,NaN,NaN
top,9/10/18,NaN,M,C,EPS,L,PACIENTE MES REGULAR,PROGRAMAS CRONICOS,I10X,HIPERTENSION ARTERIAL (N346),NaN,NaN,NaN,2016,No determinado,Hipertension,NaN,NaN
freq,999,NaN,327272,356855,458596,510996,154775,300668,350748,364993,NaN,NaN,NaN,269640,253728,365125,NaN,NaN
mean,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,205.0,385.0,2017.0,NaN,NaN,NaN,1.0,14459.0
std,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,467.0,596.0,1.0,NaN,NaN,NaN,0.0,12394.0
min,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4017.0,0.0,2016.0,NaN,NaN,NaN,0.0,1.0
25%,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.0,154.0,2016.0,NaN,NaN,NaN,0.0,5115.0
50%,NaN,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,300.0,2017.0,NaN,NaN,NaN,1.0,11184.0
75%,NaN,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218.0,494.0,2018.0,NaN,NaN,NaN,1.0,20370.0
max,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125492.0,147637.0,2018.0,NaN,NaN,NaN,1.0,60503.0

In [10]:
dfsalud.isnull()

,fec_ocurrencia,edad,sexo,estado_civil,desc_producto_agrupado,ind_capital_provincia,desc_tipo_contrat,agrupbenef,cod_diagnostico,agrupdiagno,beneficio_pagado,gasto_presentado,periodo,anio_ingreso,fecha_ingreso,agrup_CIE10,flag_programa,num_afiliado
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591534,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
591535,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
591536,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
591537,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
591538,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
dfsalud.isnull().sum()

fec_ocurrencia                0
edad                       3508
sexo                       3508
estado_civil              27972
desc_producto_agrupado        0
ind_capital_provincia       457
desc_tipo_contrat             0
agrupbenef                    0
cod_diagnostico               0
agrupdiagno                   0
beneficio_pagado              0
gasto_presentado              0
periodo                       0
anio_ingreso                  0
fecha_ingreso                 0
agrup_CIE10                   0
flag_programa                 0
num_afiliado                  0
dtype: int64

In [12]:
dfsalud["fec_ocurrencia"] = pd.to_datetime(dfsalud["fec_ocurrencia"], yearfirst=False )
dfsalud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591539 entries, 0 to 591538
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   fec_ocurrencia          591539 non-null  datetime64[ns]
 1   edad                    588031 non-null  float64
 2   sexo                    588031 non-null  object
 3   estado_civil            563567 non-null  object
 4   desc_producto_agrupado  591539 non-null  object
 5   ind_capital_provincia   591082 non-null  object
 6   desc_tipo_contrat       591539 non-null  object
 7   agrupbenef              591539 non-null  object
 8   cod_diagnostico         591539 non-null  object
 9   agrupdiagno             591539 non-null  object
 10  beneficio_pagado        591539 non-null  float64
 11  gasto_presentado        591539 non-null  float64
 12  periodo                 591539 non-null  int64
 13  anio_ingreso            591539 non-null  object
 14  fecha_ingreso           591539 non-null  object
 15  agrup_CIE10             591539 non-null  object
 16  flag_programa           591539 non-null  int64
 17  num_afiliado            591539 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(11)
memory usage: 81.2+ MB

In [13]:
print(f'A data mínima é {dfsalud["fec_ocurrencia"].min()}\ e a data máxima é {dfsalud["fec_ocurrencia"].max()}')

A data mínima é 2016-01-01 00:00:00\ e a data máxima é 2018-12-31 00:00:00

In [14]:
print(dfsalud.nunique())
print("-------------")
print(f'O número de afiliados únicos é {dfsalud["num_afiliado"].nunique()}')

fec_ocurrencia              1096
edad                         106
sexo                           2
estado_civil                   6
desc_producto_agrupado         3
ind_capital_provincia          4
desc_tipo_contrat             14
agrupbenef                     4
cod_diagnostico               71
agrupdiagno                    5
beneficio_pagado          125094
gasto_presentado           98647
periodo                        3
anio_ingreso                   4
fecha_ingreso                908
agrup_CIE10                    2
flag_programa                  2
num_afiliado               60503
dtype: int64
-------------
O número de afiliados únicos é 60503

In [15]:
ocorrencia =  dfsalud.sort_values("fec_ocurrencia")

In [16]:
vars_demograficas= ['num_afiliado', 'edad', 'sexo', 'estado_civil','desc_producto_agrupado', 'ind_capital_provincia', 'flag_programa']

In [17]:
dfsalud_populacao = dfsalud[vars_demograficas].drop_duplicates()
dfsalud_populacao.head()

,num_afiliado,edad,sexo,estado_civil,desc_producto_agrupado,ind_capital_provincia,flag_programa
0,1,43.0,F,S,EPS,P,0
1,2,101.0,F,C,AMI,L,1
2,3,57.0,F,S,AMI,L,1
3,4,58.0,M,C,EPS,L,0
4,5,75.0,F,C,AMI,L,1

In [18]:
dfsalud_populacao.shape

(63979, 7)

In [19]:
dfsalud_populacao["num_afiliado"].value_counts()

16245    4
4313     4
29955    4
10256    4
4251     4
        ..
21321    1
21322    1
21323    1
21324    1
60503    1
Name: num_afiliado, Length: 60503, dtype: int64

In [20]:
dfsalud_populacao.loc[dfsalud_populacao["num_afiliado"]== 16245]

,num_afiliado,edad,sexo,estado_civil,desc_producto_agrupado,ind_capital_provincia,flag_programa
27828,16245,58.0,M,NaN,AMC,P,1
63640,16245,58.0,M,NaN,AMC,NaN,1
70616,16245,58.0,M,NaN,AMC,L,1
251072,16245,NaN,NaN,NaN,AMC,L,1